<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>
    <h2>Enter user details to Delete</h2>
    <form action="/user/<%= user.id %>?_method=DELETE" method="post" >
        <input type="text" name="username" placeholder="enter user email">
        <input type="password" name="password" placeholder="enter password">
        <button>Delete</button>
    </form>
</body>
</html>