<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h2>New user login</h2>
    <form action="/user/new" method="POST">
        <input name="username" type="text" placeholder="enter username" /> <br><br>
        <input name="email" type="email" placeholder="enter email" /> <br><br>
        <input name="password" type="password" placeholder="enter password" /> <br><br>
        <button>Submit</button>
    </form>
</body>
</html>