
h1{
    text-align: center;
}
.container {
    width: 600px;
    height: 300px;
    background-color: black;
    margin: 10px auto;
    display: grid;
    /* grid-template-rows: 100px 100px 100px;
    grid-template-columns: 200px 200px; */
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    /* row-gap: 5px;
    column-gap: 5px; */
    grid-gap: 5px 5px;
}
.box{
    /* height: 100px;
    width: 50px; */
    background-color: yellow;
    border: 2px solid black;
    text-align: center;
}

.one{
    grid-column: 1/4;
}

.two {
    grid-row: 1/span 3;
}