.box {
    height: 100px;
    width: 300px;
    background-color: pink;
    /* animation-name: fontAnimation;
    animation-duration: 2s;
    animation-delay: 0;
    animation-timing-function: ease-in;
    animation-iteration-count: 3;
    animation-direction: normal; */
    animation: fontAnimate 2s ease-in 0s 4 normal;
}

@keyframes fontAnimation {
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
}

@keyframes fontAnimate {
    0%{font-size: 20px;}
    50%{font-size: 30px;}
    100%{font-size: 40px;}
}