<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Chat</title>
</head>
<body>
    <h1>Write new chat..</h1>
    <form action="/chats" method="POST">
        <input type="text" name="from" placeholder="who are you?">
        <br><br>
        <textarea name="msg" placeholder="write your message here...."></textarea>
        <br><br>
        <input type="text" name="to" placeholder="add receiver">
        <br><br>
        <button type="submit">Create</button>
    </form>
</body>
</html>